trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '8.x'   # Change to your required SDK version

- script: dotnet restore aspnetcore/
  displayName: 'Restore dependencies'

- script: dotnet build aspnetcore/ --configuration Release
  displayName: 'Build project'

- script: dotnet test aspnetcore/ --configuration Release --no-build
  displayName: 'Run tests'

- script: dotnet publish aspnetcore/ --configuration Release -o $(Build.ArtifactStagingDirectory)
  displayName: 'Publish'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'webapp'

